---
import Layout from "@/layouts/Layout.astro"
import ContractCard from "@/components/guild-hall/ContractCard.astro"
import { Icon } from "astro-icon/components"
import { actions } from "astro:actions"

const guilds = await Astro.callAction(actions.guild.list, {})
---

<Layout>
	<div class="space-y-20">
		<div>
			<h1 class="mb-8">Calendar</h1>
			<!-- TODO: show all assignments -->
		</div>
		<div>
			<div class="flex justify-between">
				<h1 class="mb-8">Contracts</h1>
				<div>
					<a
						href="#!"
						class="flex gap-1 items-center rounded-xl py-1 px-3 bg-gray-200"
					>
						<Icon name="mingcute:plus-fill" />Add Contract
					</a>
				</div>
			</div>
			<div class="grid grid-cols-3 gap-6">
				<ContractCard />
			</div>
		</div>
		<div>
			<div class="flex justify-between">
				<h1 class="mb-8">Guilds</h1>
				<div>
					<a
						href="/hall/guilds/create"
						class="flex gap-1 items-center rounded-xl py-1 px-3 bg-gray-200"
					>
						<Icon name="mingcute:plus-fill" />Add Guild
					</a>
				</div>
			</div>
			<div class="grid grid-cols-3 gap-6">
				{
					guilds.data ? (
						guilds.data.map((guild) => (
							<a
								href={`/hall/guilds/${guild.slug}`}
								class="card duration-300 hover:shadow-md"
							>
								<div class="card__content flex gap-2 items-center">
									{guild.persona ? (
										<div>Persona</div>
									) : (
										<div class="h-10 w-10 rounded-full bg-gray-300" />
									)}
									<div>
										<p class="font-semibold">
											{guild.name}
										</p>
										<p class="text-xs text-gray-600">
											{guild.status}
										</p>
									</div>
								</div>
							</a>
						))
					) : (
						<p>No guilds found.</p>
					)
				}
			</div>
		</div>
	</div>
</Layout>
