---
import Layout from "@/layouts/Layout.astro"
import ContractCard from "@/components/guild-hall/ContractCard.astro"
import { actions } from "astro:actions"
import Button from "@/components/Button.astro"

const guilds = await Astro.callAction(actions.guild.list, {})
const contracts = await Astro.callAction(actions.contract.list, {
	withGuild: true,
})
---

<Layout>
	<div class="space-y-20">
		<div>
			<h1 class="mb-8">Calendar</h1>
			<!-- TODO: show all assignments -->
		</div>
		<div>
			<div class="flex justify-between">
				<h1 class="mb-8">Contracts</h1>
				<div>
					<Button
						href="/hall/contracts/create"
						icon="mingcute:plus-fill"
						label="Add Contract"
					/>
				</div>
			</div>
			<!-- TODO: filter by status -->
			<div class="grid grid-cols-3 gap-3">
				{
					contracts.data ? (
						contracts.data.map((contract) => (
							<ContractCard contract={contract} />
						))
					) : (
						<p>No active contracts found.</p>
					)
				}
			</div>
		</div>
		<div>
			<div class="flex justify-between">
				<h1 class="mb-8">Guilds</h1>
				<div>
					<Button
						href="/hall/guilds/create"
						icon="mingcute:plus-fill"
						label="Add Guild"
					/>
				</div>
			</div>
			<div class="grid grid-cols-3 gap-3">
				{
					guilds.data ? (
						guilds.data.map((guild) => (
							<a
								href={`/hall/guilds/${guild.slug}`}
								class="card duration-300 hover:shadow-md"
							>
								<div class="card__content flex gap-2 items-center">
									{guild.persona ? (
										<div>Persona</div>
									) : (
										<div class="h-10 w-10 rounded-full bg-gray-300" />
									)}
									<div>
										<p class="font-semibold">
											{guild.name}
										</p>
										<p class="text-xs text-gray-600">
											{guild.status}
										</p>
									</div>
								</div>
							</a>
						))
					) : (
						<p>No guilds found.</p>
					)
				}
			</div>
		</div>
	</div>
</Layout>
