@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
	--font-default: "Figtree", sans-serif;
}

@layer base {
	html {
		@apply font-default;
	}

	h1 {
		@apply text-5xl font-semibold mb-10;
	}

	button {
		@apply cursor-pointer;
	}

	table {
		tr {
			td:first-child {
				@apply pr-1;
			}
		}
	}

	form {
		input {
			@apply px-2 py-1 border border-black;

			&:focus {
				@apply outline-none ring-1 ring-black;
			}
		}
	}
}

@layer components {
	.button {
		@apply inline-block cursor-pointer duration-300;

		&.button--primary {
			@apply px-4 py-1 border border-black;

			&:hover {
				@apply bg-black text-white;
			}

			&:disabled {
				@apply border-gray-600 text-gray-600 cursor-not-allowed;
			}
		}
	}
}
