@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
	--font-default: "Figtree", sans-serif;
}

@layer base {
	html {
		@apply font-default;
	}

	h1 {
		@apply text-5xl font-semibold mb-10;
	}

	button {
		@apply cursor-pointer;
	}

	table {
		tr {
			td:first-child {
				@apply pr-1;
			}
		}
	}
}
