---
import { Icon } from "astro-icon/components"
---

<div class="card sticky top-8">
	<div class="border-b border-gray-300 h-64 overflow-hidden relative">
		<img
			src="/prof-zeno.png"
			class="object-cover"
		/>
		<a
			href="#!"
			class="absolute right-4 top-4 text-white p-1 rounded-sm bg-gray-950"
		>
			<Icon name="mingcute:edit-2-fill" />
		</a>
	</div>
	<div class="card__content">
		<p class="text-xs">Guild Master</p>
		<p class="font-semibold">Professor Zeno</p>
		<p class="text-sm mt-2 mb-4">
			A description of Professor Zeno, his personality, etc.
		</p>
		<p class="flex">
			<a
				href="#!"
				class="flex items-center gap-1 py-1 px-3 text-sm bg-gray-100 w-auto rounded-xl"
			>
				<Icon name="mingcute:chat-3-fill" />Chat
			</a>
		</p>
		<!-- TODO: chat history somewhere? -->
	</div>
</div>
