---
import Layout from "@/layouts/Layout.astro"
import Buckets from "@/components/Buckets"
import Calendar from "@/components/Calendar"
import Dailies from "@/components/Dailies"
import WeeklyHeader from "@/components/WeeklyHeader"
---

<Layout>
	<WeeklyHeader client:load />
	<div class="flex gap-20">
		<div class="w-2/3 pt-10">
			<Dailies client:load />
		</div>
		<div class="w-1/3">
			<Calendar client:load />
			<Buckets client:load />
		</div>
	</div>
</Layout>
