---
import Layout from "@/layouts/Layout.astro"
---

<Layout>
	<div class="flex gap-8">
		<div class="w-full">
			<h1 class="mb-3">Good morning, Catherine</h1>
			<p class="text-gray-600 ml-0.5">Today will be amazing.</p>
			<div class="flex gap-4 mt-8">
				<div class="card">Calendar</div>
				<div class="card">Agenda</div>
			</div>
		</div>
		<div class="space-y-4 w-[220px] flex-none">
			<div class="card">Inspiring Quote</div>
			<div class="card">Errands</div>
		</div>
	</div>
</Layout>
