---
import { Icon } from "astro-icon/components"

interface Props {
	path: string
}
const { path } = Astro.props

const links = [
	{ name: "Home", href: "/", icon: "mingcute:home-4-fill" },
	{
		name: "Guild Hall",
		href: "/hall",
		icon: "mingcute:building-4-fill",
	},
	// {
	// 	name: "Alchemy Lab",
	// 	href: "#!",
	// 	icon: "mingcute:flask-3-fill",
	// },
	// {
	// 	name: "Library",
	// 	href: "#!",
	// 	icon: "mingcute:book-5-fill",
	// },
	// {
	// 	name: "Archives",
	// 	href: "#!",
	// 	icon: "mingcute:book-3-fill",
	// },
]
---

<aside
	class="fixed h-screen w-[260px] flex-none bg-white border-r border-gray-300 py-8 px-6 space-y-6"
>
	<div class="card card--profile">
		<div class="card__content flex items-center gap-3">
			<div class="w-12 h-12 rounded-full bg-gray-300"></div>
			<div class="leading-none">
				<p class="font-semibold mb-1">Catherine</p>
				<p><small class="text-gray-600">11000 XP</small></p>
			</div>
		</div>
	</div>
	<nav class="space-y-1">
		{
			links.map((link) => (
				<a
					href={link.href}
					class={
						"duration-300 px-4 py-2 flex gap-2 items-center rounded-xl" +
						(link.href == path
							? " bg-black text-white hover:bg-black"
							: " hover:bg-gray-100")
					}
				>
					<Icon name={link.icon} />
					<span>{link.name}</span>
				</a>
			))
		}
	</nav>
</aside>
